---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="post-list">
      {%- for post in paginator.posts -%}
        {%- unless post.draft -%}  
          <p>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <div class="post-meta f3-light text-small">{{ post.date | date: date_format }}</div>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            <div class="content">
              {{ post.content }}
            </div>
<!--             {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%} -->
          </p>
        {%- endunless -%}
      {%- endfor -%}
    </div>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          Previous
        </a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>

  {%- endif -%}

</div>



