---
layout: default
---

  <h2>{{ page.title | escape }}</h2>

  <div class="post-content">
    {{ content }}
  </div>

	<br/>

  <div class="post-disclaimer text-small">
		This blog is my way to think through ideas, learn about certain topics, and clarify my thinking. Posts are updated often and changes can be tracked <a href="https://github.com/tarunsachdeva/blog/commits/gh-pages/{{ page.path }}">here</a> if you're interested. For any feedback, please <a href="mailto:tarun@tarunsachdeva.com">email me</a>. 
  </div>