---
layout: default
---

  <h2>{{ page.title | escape }}</h2>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-disclaimer">
  		I use these posts as a way to think through ideas, learn about certain topics, and clarify my thinking. As such, ideas in these posts may not be fully formed or incomplete. For any feedback, please <a href="mailto:tarun@tarunsachdeva.com">email me</a>. You can also <a href="https://github.com/tarunsachdeva/blog/commits/gh-pages/{{ page.path }}">track changes</a> to this post, as this entire blog is open source.
  </div>